@charset "UTF-8";
html {
  font-size: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.90909vw;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header__wrapper {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  position: relative;
}

.header__nav {
  position: absolute;
  z-index: 2;
  margin-right: 2.7rem;
  right: auto;
  left: 50%;
}

@media screen and (max-width: 767px) {
  .header__nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 9;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    left: auto;
    width: 84%;
    /*ナビの高さ*/
    /*表示する高さ*/
    height: 100vh;
    background: #FFFFFF;
    opacity: 0.8;
    /*動き*/
    transition: all 0.6s;
    margin-right: 0;
  }
}

.headerTitle__mainTitle {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin: 3.6rem 0 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .headerTitle__mainTitle {
    margin-left: 2.1rem;
  }
}

.headerTitle__subTitle {
  font-size: 1.2rem;
  margin-left: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 7rem;
}

@media screen and (max-width: 767px) {
  .headerTitle__subTitle {
    margin-left: 2.1rem;
  }
}

.globalNav__menu {
  display: flex;
  margin: 2.8rem 0 0 0;
}

@media screen and (max-width: 767px) {
  .globalNav__menu {
    position: absolute;
    z-index: 999;
    top: 21%;
    left: 9%;
    display: block;
    margin: 0;
  }
}

.globalNavMenu__list {
  font-size: 1.8rem;
  font-weight: normal;
  padding-left: 6.4rem;
}

@media screen and (max-width: 767px) {
  .globalNavMenu__list {
    font-size: 2.4rem;
    padding-left: 0;
    padding-bottom: 3.7rem;
  }
}

.globalNavMenu__link {
  color: #FFF;
}

@media screen and (max-width: 767px) {
  .globalNavMenu__link {
    color: #000000;
  }
}

.globalNavMenu__link:hover {
  border-bottom: 3px solid #FFF;
  /* 線の太さ 線の種類 線の色 */
}

/*アクティブクラスがついたら位置を0に右から出てくる*/
@media screen and (max-width: 767px) {
  .globalNav.panelactive {
    right: 0;
  }
}

/*アクティブクラスがついたら位置を0に右から出てくる
メニューをクリックしても閉じる*/
@media screen and (max-width: 767px) {
  .globalNavMenu__list.panelactive {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .burger__btn.panelactive {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 767px) {
  .firstView__title.panelactive {
    color: #121212;
  }
}

.footer__wrapper {
  width: 100%;
  height: 26.4rem;
  margin: 0 auto;
  background: #6F6565;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    height: 18rem;
  }
}

.footer__title {
  font-size: 8rem;
  font-weight: bold;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 4rem;
  }
}

.firstView__wrapper {
  max-width: auto;
  width: 100%;
  margin: 0 auto;
}

.firstView__titleBox {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  top: 36rem;
}

@media screen and (max-width: 767px) {
  .firstView__titleBox {
    top: 16.9rem;
  }
}

.firstView__title {
  max-width: 34.9rem;
  width: 100%;
  font-size: 6.4rem;
  line-height: 1.25;
  font-weight: bold;
  margin: 0 0 2.3rem 13.9rem;
}

@media screen and (max-width: 767px) {
  .firstView__title {
    max-width: 21.8rem;
    font-size: 4rem;
    margin: 0 0 0.8rem 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .firstView__pcTitle {
    display: none;
  }
}

.firstView__subTitle {
  max-width: 47.5rem;
  width: 100%;
  font-size: 2.4rem;
  letter-spacing: 0.12rem;
  line-height: 1.3;
  margin-left: 13.9rem;
}

@media screen and (max-width: 767px) {
  .firstView__subTitle {
    max-width: 18.4rem;
    font-size: 1.6rem;
    margin-left: 1.8rem;
  }
}

.firstView__imgBox {
  width: 100%;
  height: 100vh;
  background-image: url(..//images/header_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .firstView__imgBox {
    width: 100%;
    background-image: url(..//images/header_sp.jpg);
  }
}

.about__wrapper {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 15.2rem;
  display: flex;
  padding-left: 2rem;
}

@media screen and (max-width: 767px) {
  .about__wrapper {
    max-width: initial;
    display: block;
    margin-top: 10.3rem;
    padding: 0;
  }
}

.aboutInfo__box {
  max-width: 40.9rem;
  width: 100%;
  background: #F2F2F2;
  border: 1px solid #707070;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .aboutInfo__box {
    max-width: initial;
    background: none;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.aboutInfo__title {
  margin-bottom: 1.5rem;
  padding-top: 7.2rem;
  padding-left: 6.8rem;
}

@media screen and (max-width: 767px) {
  .aboutInfo__title {
    padding: 0;
  }
}

.aboutInfo__subTitle {
  font-size: 1.6rem;
  margin-top: 3.5rem;
  padding-left: 6.8rem;
}

@media screen and (max-width: 767px) {
  .aboutInfo__subTitle {
    font-size: 1.2rem;
    padding: 0;
  }
}

.aboutInfo__unit {
  max-width: 27.2rem;
  width: 100%;
  padding-left: 6.8rem;
  padding-bottom: 5.8rem;
}

@media screen and (max-width: 767px) {
  .aboutInfo__unit {
    max-width: initial;
    padding: 0;
  }
}

.aboutInfo__lead {
  font-size: 2.4rem;
  margin-top: 4.3rem;
}

@media screen and (max-width: 767px) {
  .aboutInfo__lead {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
}

.aboutInfo__text {
  font-size: 1.6rem;
  line-height: 2;
  margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
  .aboutInfo__text {
    font-size: 1.2rem;
    margin-top: 2.3rem;
    margin-bottom: 2.2rem;
  }
}

.about__imgbox {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

@media screen and (max-width: 767px) {
  .about__imgbox {
    margin: 0 auto;
    display: block;
    padding: 0;
  }
}

.about__img {
  max-width: 49.4rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .about__img {
    max-width: initial;
    width: 95%;
    padding-left: 1.5rem;
  }
}

.access__wrapper {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 21.9rem;
}

@media screen and (max-width: 767px) {
  .access__wrapper {
    max-width: initial;
    width: 95%;
    display: block;
    margin-top: 9.7rem;
    padding-left: 1.5rem;
    margin-bottom: 8.3rem;
  }
}

.access__titlebox {
  margin-bottom: 9.3rem;
}

@media screen and (max-width: 767px) {
  .access__titlebox {
    margin-bottom: 4.4rem;
  }
}

.access__subTitle {
  font-size: 1.6rem;
  margin-top: 4.4rem;
}

@media screen and (max-width: 767px) {
  .access__subTitle {
    font-size: 1.2rem;
    margin-top: 2.1rem;
  }
}

.access__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15.4rem;
}

@media screen and (max-width: 767px) {
  .access__container {
    display: block;
    margin-bottom: 3.719rem;
  }
}

@media screen and (max-width: 767px) {
  .accessDetail__area {
    margin-bottom: 13rem;
  }
}

.accessDetail__list {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .accessDetail__list {
    font-size: 1.8rem;
  }
}

.accessDetail__item {
  font-size: 1.6rem;
  margin-bottom: 2.9rem;
}

@media screen and (max-width: 767px) {
  .accessDetail__item {
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }
}

.accessDetail__link {
  color: #000;
}

.accessDetail__map {
  max-width: 66.4rem;
  width: 100%;
  position: relative;
  width: 100%;
  padding-top: 40%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 767px) {
  .accessDetail__map {
    position: initial;
    max-width: initial;
    width: 95%;
    padding: 0;
  }
}

.accessDetail__map iframe {
  text-align-last: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

@media screen and (max-width: 767px) {
  .accessDetail__map iframe {
    text-align: center;
    position: initial;
  }
}

.accessSummary__area {
  max-width: 75.1rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .accessSummary__area {
    max-width: initial;
    width: 95%;
  }
}

.accessSummary__title {
  font-size: 2.4rem;
  margin-bottom: 3.1rem;
}

.accessSummary__text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .accessSummary__text {
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 0.06rem;
  }
}

@media screen and (max-width: 767px) {
  .accessSummary__textsp {
    display: none;
  }
}

.item__wrapper {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 14.7rem;
  padding-left: 2rem;
}

@media screen and (max-width: 767px) {
  .item__wrapper {
    max-width: initial;
    padding-left: 0;
    margin: 12.64rem 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .item__titleBox {
    padding-left: 1.5rem;
  }
}

.item__subTitle {
  font-size: 1.6rem;
  margin: 3.5rem 0 2.3rem 0;
}

@media screen and (max-width: 767px) {
  .item__subTitle {
    font-size: 1.2rem;
    margin: 2.9em 0 3.2rem 0;
  }
}

@media screen and (max-width: 767px) {
  .itemInfo__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.itemInfo__area {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .itemInfo__area {
    display: block;
  }
}

.itemInfo__unit {
  width: calc(33.3333% - 1.6rem * 2 / 3);
}

@media screen and (max-width: 767px) {
  .itemInfo__unit {
    margin-bottom: 3rem;
  }
}

.itemInfo__unit +
.itemInfo__unit {
  margin-left: 1.6rem;
}

@media screen and (max-width: 767px) {
  .itemInfo__unit +
.itemInfo__unit {
    margin-left: 0;
  }
}

.itemInfo__imgbox {
  padding-top: 66.358%;
  position: relative;
}

.itemInfo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog__wrapper {
  width: 100%;
  margin: 0 auto;
  background: #F2F2F2;
  margin-top: 30rem;
}

@media screen and (max-width: 767px) {
  .blog__wrapper {
    margin-top: 30rem;
  }
}

.blog__container {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
}

.blog__titlebox {
  padding-left: 13.8rem;
  padding-top: 13.6rem;
}

@media screen and (max-width: 767px) {
  .blog__titlebox {
    padding-left: 1.5rem;
    padding-top: 8.5rem;
  }
}

.blog__subTitle {
  font-size: 1.6rem;
  margin: 4.4rem 0 6.2rem 0;
}

@media screen and (max-width: 767px) {
  .blog__subTitle {
    font-size: 1.2rem;
    margin: 3rem 0 4.5rem 0;
  }
}

.blog__area {
  max-width: 100.4rem;
  width: calc(78.3333% - 1.5rem * 1 / 3);
  display: flex;
  justify-content: space-around;
  padding-bottom: 13.6rem;
  padding-left: 13.8rem;
}

@media screen and (max-width: 767px) {
  .blog__area {
    max-width: initial;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 9.6rem;
    padding-left: 1.5rem;
  }
}

.blog__imgbox {
  padding-top: 66.66666%;
  position: relative;
}

.blog__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .blog__unit:nth-child(2n) {
    padding-left: 1.5rem;
  }
}

.blog__unit +
.blog__unit {
  margin-left: 1.5rem;
}

@media screen and (max-width: 767px) {
  .blog__unit +
.blog__unit {
    margin-left: 0;
  }
}

.price__wrapper {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 15.3rem;
}

.price__container {
  max-width: 49.4rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #A38787;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .price__container {
    max-width: initial;
  }
}

.price__titlebox {
  text-align: center;
  padding-top: 6.2rem;
}

@media screen and (max-width: 767px) {
  .price__titlebox {
    padding-top: 7.1rem;
  }
}

.price__subTitle {
  font-size: 1.6rem;
  margin: 3.5rem 0 8.1rem 0;
}

@media screen and (max-width: 767px) {
  .price__subTitle {
    font-size: 1.2rem;
    margin-top: 3.1rem;
  }
}

.price__box {
  max-width: 32.4rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 7.4rem;
}

@media screen and (max-width: 767px) {
  .price__box {
    max-width: initial;
  }
}

.price__menu {
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .price__menu {
    font-size: 1.2rem;
    padding-left: 6.1rem;
  }
}

.price__item {
  padding-right: 1.6rem;
  text-align: left;
  width: 40%;
}

@media screen and (max-width: 767px) {
  .price__item {
    width: 30%;
    white-space: nowrap;
  }
}

.price__money {
  text-align: right;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .price__money {
    width: 50%;
  }
}

.price__item, .price__money {
  border-bottom: 1px dotted #707070;
  padding: 1rem 0;
}

.price__imgbox {
  background-image: url(..//images/price_pc.jpg);
  background-repeat: no-repeat;
  background-position: right 10rem;
  padding-bottom: 30rem;
}

@media screen and (max-width: 767px) {
  .price__imgbox {
    background-image: url(..//images/price_sp.jpg);
    background-position: center;
    background-size: cover;
    padding: 8rem;
  }
}

.boder__none {
  border-bottom: none;
}

.title__left {
  font-size: 4.8rem;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 767px) {
  .title__left {
    font-size: 3.8rem;
  }
}

.title__left::after {
  content: '';
  display: block;
  width: 6.9rem;
  height: 0.5rem;
  background-color: #0A0A0A;
  position: absolute;
  bottom: -1.5rem;
}

@media screen and (max-width: 767px) {
  .title__left::after {
    bottom: -1.2rem;
  }
}

.title__center {
  font-size: 4.8rem;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 767px) {
  .title__center {
    font-size: 3.8rem;
  }
}

.title__center:after {
  content: '';
  display: block;
  width: 6.9rem;
  height: 0.5rem;
  background-color: #0A0A0A;
  position: absolute;
  left: 21rem;
  bottom: -1.5rem;
}

@media screen and (max-width: 767px) {
  .title__center:after {
    bottom: -1.2rem;
    left: 43%;
  }
}

.itemInfo__unit {
  max-width: 32.4rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .itemInfo__unit {
    max-width: initial;
  }
}

.itemInfo__imgbox {
  margin-bottom: 2.3rem;
}

@media screen and (max-width: 767px) {
  .itemInfo__imgbox {
    margin-bottom: 1.4rem;
  }
}

.itemInfo__img {
  max-width: 32.4rem;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .itemInfo__img {
    max-width: initial;
  }
}

.itemInfo__list {
  max-width: 32.4rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .itemInfo__list {
    max-width: initial;
  }
}

.itemInfo__item {
  font-size: 1.6rem;
  margin-bottom: 3.4rem;
  letter-spacing: 0.032rem;
}

@media screen and (max-width: 767px) {
  .itemInfo__item {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.024rem;
  }
}

.itemInfo__lead {
  font-size: 2.4rem;
  margin-bottom: 2.3rem;
  letter-spacing: 0.048rem;
}

@media screen and (max-width: 767px) {
  .itemInfo__lead {
    margin-bottom: 1.7rem;
  }
}

.itemInfo__text {
  font-size: 1.6rem;
  line-height: 1.75;
}

@media screen and (max-width: 767px) {
  .itemInfo__text {
    font-size: 1.2rem;
  }
}

.itemInfo__leadCenter {
  font-size: 2.4rem;
  margin-bottom: 2.3rem;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .itemInfo__leadCenter {
    margin-bottom: 1.7rem;
  }
}

.itemInfo__textCenter {
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .mb_14 {
    margin-bottom: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .mb_36 {
    margin-bottom: 3.6rem;
  }
}

.blog__unit {
  max-width: 32.4rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .blog__unit {
    max-width: initial;
    width: 100%;
    width: calc((100% - 1.5rem * 1) / 2);
    margin-bottom: 2.147rem;
  }
}

.blog__imgbox {
  margin-bottom: 2.9rem;
}

@media screen and (max-width: 767px) {
  .blog__imgbox {
    margin-bottom: 1.2rem;
  }
}

.blog__img {
  max-width: 32.4rem;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .blog__img {
    max-width: initial;
    width: 100%;
  }
}

.blog__menu {
  font-size: 1.6rem;
  letter-spacing: 0.016rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .blog__menu {
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
  }
}

.blog__datetime, .blog__lead {
  margin-bottom: 1rem;
  color: #000;
}

@media screen and (max-width: 767px) {
  .blog__datetime, .blog__lead {
    margin-bottom: 0.8rem;
  }
}

.blog__datetime {
  padding-right: 1.6rem;
}

@media screen and (max-width: 767px) {
  .blog__datetime {
    padding-right: 0;
  }
}

.blog__text {
  width: 100%;
  font-size: 1.6rem;
  color: #000;
}

@media screen and (max-width: 767px) {
  .blog__text {
    font-size: 1.2rem;
  }
}

.blog__unitsp {
  display: none;
}

@media screen and (max-width: 767px) {
  .blog__unitsp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .burger__btn {
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    position: fixed;
    z-index: 9999;
    background: #FFF;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    top: 0;
    right: 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .bar__btn {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 2.5rem;
    height: 0.3rem;
    width: 3.5rem;
    background: #101010;
  }
}

@media screen and (max-width: 767px) {
  .bar__top {
    top: 2.8rem;
  }
}

@media screen and (max-width: 767px) {
  .bar__mid {
    top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .bar__bottom {
    top: 5.1rem;
  }
}

/*activeクラスが付与されると線が回転して×に*/
@media screen and (max-width: 767px) {
  .bar__top.active {
    top: 3.8rem;
    transform: translateY(6px) rotate(-45deg);
  }
}

@media screen and (max-width: 767px) {
  .bar__mid.active {
    opacity: 0;
    /*真ん中の線は透過*/
  }
}

@media screen and (max-width: 767px) {
  .bar__bottom.active {
    top: 5rem;
    transform: translateY(-6px) rotate(45deg);
  }
}

body {
  font-family: 'Montserrat',  sans-serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

h1, h2 {
  text-transform: capitalize;
}

/* 小文字を大文字に変換 */
.font__up {
  text-transform: uppercase;
}

/* 頭文字だけ大文字に変換 */
.font__cap {
  text-transform: capitalize;
}

/* 大文字を小文字に変換 */
.font__lo {
  text-transform: lowercase;
}
/*# sourceMappingURL=style.css.map */