@charset "utf-8"; 

.footer{
  &__wrapper{
    // max-width: 128rem;
    width: 100%;
    height: 26.4rem;
    margin: 0 auto;
    background: #6F6565;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(mi){
      height: 18rem;
    }
  }
  &__title{
    font-size: 8rem;
    font-weight: bold;
    color: #FFFFFF;
    @include mq(mi){
      font-size: 4rem;
    }
  }
}
