@charset "utf-8";

@import "breakpoint";


html {
    //375px~787px
    font-size: 10px;
    // 62.5%と同じ意味remは10分の1でOK
    box-sizing: border-box;
    @include mq("md") {
          font-size: 10 / 1100 * 100vw;
    }
    // 768(md)以上が10割る1100掛ける100vw
    //これで数値入れなくてもタブレットの時文字が小さくなる。書かなくてOK
    //767以下も10pxに戻る。なのでかく必要ある

    //inner~max-screen
    @media (min-width: 1100px) {
    font-size: 10px;
    }
    // 1100px以上はフォントを10pxに戻す
    // background-color: aqua;
    
}

// スクロール消す
// html {
//     overflow-x: hidden;
//     overflow-y: scroll; 
//     -webkit-overflow-scrolling: touch;
// }

// 下線
a{
    text-decoration:none;
    // color: black;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}