@charset "utf-8";

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  mi: 767,
  lg: 1024,
  xl: 1440,
);

//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  mi: "screen and (max-width: #{map-get($breakpoints,'mi')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  li: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// @include mq(md){

// }

